<div>
    <h2 class="categoris-title">{{ component.category_title }}</h2>
    <p class="categoris-description">{{ component.category_description }}</p>
    <div class="all-categoris">
        {% for category in component.collection %}
        <div class="one-img">
            <img class="cat-img" src="{{category.category_image}}" />
            <p class="cat-title">{{category.category_name}}</p>
            <p class="cat-desc">{{category.category_number}}</p>
        </div>
        {% endfor %}
    </div>

</div>

<style>
    .categoris-title {
        text-align: center;
        font-size: 24px;
        margin-top: 50px;
        color: #0F1939;
        font-weight: 700;
    }

    .categoris-description {
        color: #666666;
        text-align: center;
    }

    .cat-img {
        width: 210px;
        height: 210px;
        border-radius: 50%;
    }

    .one-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .cat-title{
        color: #0F1939;
        font-size: 20px;
        font-weight: 600;
        margin-top: 10px;
    }
    .cat-desc{
        color: #666666;
        font-size: 16px;
    }
    .all-categoris{
        margin-top: 30px;
            display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    }
</style>