<footer class="store-footer">
	<div class="newsletter">
    <div class="inner-newsletter">
        <div class="newsletter-right" >
            <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="64" height="64" rx="32" fill="white" fill-opacity="0.32" />
                <path
                    d="M42.866 43.7772H21.1344C19.8338 43.7755 18.587 43.2581 17.6675 42.3383C16.7479 41.4186 16.2307 40.1717 16.2292 38.8712V25.1285C16.2307 23.8281 16.748 22.5813 17.6675 21.6617C18.5871 20.7421 19.8339 20.2248 21.1344 20.2234H42.866C44.1666 20.2248 45.4135 20.7421 46.3332 21.6616C47.253 22.5812 47.7704 23.828 47.7721 25.1285V38.8712C47.7707 40.1719 47.2533 41.4189 46.3336 42.3387C45.4138 43.2584 44.1668 43.7758 42.866 43.7772ZM21.1344 22.5091C20.4399 22.5098 19.7741 22.786 19.283 23.2771C18.7919 23.7682 18.5157 24.434 18.515 25.1285V38.8712C18.5154 39.5658 18.7915 40.2319 19.2827 40.7232C19.7738 41.2144 20.4397 41.4908 21.1344 41.4915H42.866C43.5608 41.4908 44.2269 41.2145 44.7181 40.7232C45.2094 40.232 45.4857 39.5659 45.4864 38.8712V25.1285C45.4854 24.434 45.209 23.7681 44.7178 23.2771C44.2266 22.786 43.5606 22.5098 42.866 22.5091H21.1344Z"
                    fill="white" />
                <path
                    d="M31.9864 35.0763C31.0275 35.0858 30.0934 34.7717 29.3349 34.1849L17.1128 24.445C16.8757 24.256 16.7235 23.9806 16.6896 23.6793C16.6556 23.378 16.7427 23.0756 16.9317 22.8386C17.1208 22.6016 17.3962 22.4493 17.6975 22.4154C17.9987 22.3814 18.3011 22.4686 18.5381 22.6576L30.7567 32.3975C31.1176 32.6535 31.5495 32.7905 31.992 32.7893C32.4345 32.7882 32.8656 32.6489 33.2252 32.3911L45.2929 22.6622C45.5287 22.4719 45.8304 22.3832 46.1317 22.4154C46.4329 22.4476 46.7091 22.5982 46.8993 22.834C47.0895 23.0699 47.1783 23.3716 47.146 23.6728C47.1138 23.9741 46.9632 24.2502 46.7274 24.4404L34.6634 34.1693C33.8997 34.7665 32.9558 35.0863 31.9864 35.0763Z"
                    fill="white" />
            </svg>
            <div>
                <p class="newsletter-title" >{{ trans('pages.heroSection.subscribe') }}</p>
                <p class="newsletter-desc">{{ trans('pages.heroSection.join') }}</p>
            </div>
        </div>
        <div class="newsletter-left" >
            <input placeholder="{{ trans('pages.heroSection.enter_email') }}"/>
            <button>{{ trans('pages.heroSection.subscription') }}</button>
        </div>
    </div>
</div>
	<div aria-label="footer" class="store-footer__inner">
		<div class="container grid grid-col-1 lg:grid-cols-6 gap-8 lg:gap-6">
			<div class="lg:col-span-2 rtl:lg:pl-20 ltr:lg:pr-20">
				<a href="{{ link('/') }}" class="flex items-center m-0">
					<h3>{{store.name}}</h3>
				</a>
				{% if store.description %}
					<div class="max-w-sm leading-6 mb-6">
						{{ store.description|raw }}
          </div>
				{% endif %}

				<div class="hidden lg:block">
					<salla-social class="block mb-6"></salla-social>
				</div>

		<div class="flex gap-4">
		  {# trust badges #}
		  <salla-trust-badges {% if theme.settings.get('footer_is_dark') %} dark {% endif %}></salla-trust-badges>
          {# vat #}
          {% if store.settings.tax.number %}
            <div class="flex rtl:space-x-reverse space-x-2 items-end">
              {% if store.settings.tax.certificate %}
                <a class="load-img-onclick" data-modal-id="modal-value-tax" href="#/" alt="{{ store.settings.tax.number }}">
                  <img width="40" height="50" src="{{ 'images/s-empty.png' | cdn }}" data-src="{{'images/tax.png' | cdn(70,70)}}" class="lazy w-10 rounded-sm hover:opacity-80 transition-opacity" alt="value added tax">
                </a>
              {% endif %}
              <div>
                <p class="text-sm text-text-grey mb-1">{{ trans('common.elements.tax_number') }}</p>
                <b class="text-sm">{{ store.settings.tax.number }}</b>
              </div>
            </div>

            {% if store.settings.tax.certificate %}
              <salla-modal sub-title-first sub-title="{{ trans('common.elements.tax_number') }}" modal-title="{{ store.settings.tax.number }}" id="modal-value-tax">
                <div class="flex justify-center max-w-full">
                  <img class="w-full" loading="lazy" 
                  src="{{ 'images/s-empty.png' | cdn }}" 
                  data-src="{{ store.settings.tax.certificate }}" 
                  alt="{{ store.settings.tax.number }}"/>
                </div>
              </salla-modal>
            {% endif %}
          {% endif %}
        </div>
        </div>

			<div>
				<h3>{{ trans('blocks.footer.pages_links') }}</h3>
				<salla-menu source="footer"></salla-menu>
			</div>

			<div>
				<salla-contacts></salla-contacts>

				<div class="lg:hidden contact-social">
					<salla-social></salla-social>
				</div>
			</div>

			<salla-apps-icons class="lg:col-span-2 rtl:lg:pr-20 ltr:lg:pl-20"></salla-apps-icons>

		</div>
	</div>

	<div class="md:flex items-center justify-between py-4 container text-center" style="background-color: #0F1939;">
		<span class="text-sm " style="color: #FFFFFF;">{% hook copyright %}</span>
		<salla-payments></salla-payments>
	</div>
</div>

<span class="hidden bottom-2 rtl:pl-24 ltr:pr-24 md:grid-cols-3 opacity-40"></span></footer>


<style>
    .newsletter {
        background-color: #516AC8;
        padding: 20px 0px;
    }
    .inner-newsletter{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
    .newsletter-right{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .newsletter-title{
        font-size: 20px;
        color: white;
        font-weight: 600;
    }
    .newsletter-desc{
        font-size: 16px;
        color: white;
    }
    .newsletter-left{
        display: flex;
        gap: 10px;
    }
    .newsletter-left input{
        width: 350px;
        border-radius: 4px;
        outline: none;
    }
    .newsletter-left button{
        background-color: #E3AF64;
        color: white;
        padding: 0px 20px;
        border-radius: 4px;
    }
	@media screen and (max-width: 925px) {
		.inner-newsletter{
			flex-direction: column;
			padding: 30px 0px;
			gap: 20px;
		}
	}
	@media screen and (max-width: 475px){
.newsletter-left input{
	width: 250px;
}
	}
</style>
